@font-face {
    font-family: SourceSansPro;
    src: url('font/SourceSansPro-Black.ttf');
  }

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('font/SourceSansPro-Regular.ttf');
  }

*{
    margin: 0;
    padding: 0;
}

.backgroud1 {
    width: 1600px;
    background-color: #28343c;
    margin: auto;
    height: 400px;
    position: relative;
    z-index: 0;
}

.backgroud2{
    width: 1600px;
    height: 2150px;
    background-color: #ececec;
    margin: auto;
    position: relative;
    z-index: 1;
}

.container-fluid{
    width: 1600px;
    height: auto;
    background-image: url('images/backgroud.jpg');
    background-color: #ececec;
}

.header{
    margin: auto;
    width: 1200px;
    height: 280px;
    padding: 40px 0 20px 0;
    color: white;
}

.header ul li a{
    color: white;
    text-decoration: none;
}

.header ul{
    margin-top: 30px;
    float: right;
}

.header ul li{
    width: 96px;
    height: 35px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    margin-left: 35px;
    border-radius: 3px;
    font-family: SourceSansPro;
}

.header ul li:hover{
    background-image: url('images/hover-menu.png');;
    text-decoration: none;
    color: #ca6666;
}

.header ul li a:hover{
    width: 96px;
    height: 35px;
    color: #ca6666;
}

.text-header{
    font-size: 40px;
    margin-top: 20px;
    font-family: SourceSansPro-Regular;
}

.text-header span{
    font-family: SourceSansPro;
}


.slider{
    width: 1200px;
    height: 550px;
    background-color: #c7c7c7;
    position: relative;
    margin: auto;
}

.slider img{
    width: 1200px;
    height: 550px;
    z-index: 0;
    position: relative;
}

.slider a:hover{
    text-decoration: none;
}

.carousel{
    width: 1200px;
    height: 550px;
}

.slider .caption1{
    position: relative;
    z-index: 2;
    width: 420px;
    line-height: 52px;
    text-align: center;
    font-size: 23px;
    font-family: SourceSansPro;
    color: #ffffff;
    background-color: #ca6666;
    bottom: 500px;
    left: 50px;
}

.slider .caption2{
    position: relative;
    z-index: 2;
    width: 390px;
    line-height: 52px;
    text-align: center;
    font-size: 23px;
    font-family: SourceSansPro-Regular;
    color: #575757;
    background-color: #ffffff;
    bottom: 488px;
    left: 50px;
}

.intro-section{
    width: 1200px;
    height: 279px;
    padding-top: 30px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
    margin: auto;
}

.intro-section .text1{
    text-align: center;
    font-size: 28px;
    font-family: SourceSansPro;
    color: #616161;
    margin: 0px 0 0 50px;
}

.intro-section .text2{
    text-align: center;
    font-size: 21px;
    font-family: SourceSansPro-Regular;
    color: #6e6e6e;
    margin: 25px 0 0 50px;
}

.intro-section button{
    width: 147px;
    height: 38px;
    font-size: 15px;
    background-color: #ca6666;
    font-family: SourceSansPro;
    color: #ffffff;
    border: 0px;
    margin-top: 20px;
}

.Service-Section{
    clear: both;
    width: 1200px;
    height: 502px;
    background-color: #ffffff;
    margin: auto;
    padding: 40px 50px 0 50px;
    border-bottom: 1px solid #e8e8e8;
}

.Service-Section .text-title{
    font-size: 24px;
    font-family: SourceSansPro;
    color: #616161;
}

.text-content{
    font-size: 15px;
    font-family: SourceSansPro-Regular;
    color: #616161;
    margin: 10px 0 40px 0;
}

.Service-Section img{
    float: left;
}

.product-title{
    font-size: 20px;
    font-family: SourceSansPro;
    color: #616161; 
    margin-bottom: 10px;
    height: 40px;
}

.Service-Section .row .col .text-content{

    width: 400px;
}

.border-bottom{
    width: 40px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #d9d9d9;
}

.border-bottom-full{
    height: 2px;
    margin-bottom: 20px;
    background-color: #d9d9d9;
}

.border-bottom-footer{
    height: 1px;
    margin-bottom: 10px;
    background-color: #3e4950;
    width: 90%;
}

.About-Section{
    width: 1200px;
    height: 434px;
    background-color: #f9f9f9;
    margin: auto;
    padding: 40px 50px 0 50px;
}

.About-Section .row .col .row .product-title{
    height: 25px;
    font-size: 16px;
    border-bottom: 100px;
}

.About-Section .row .col .row .col-3 img{
    width: 72px;
    height: 72px;
}

.date{
    background-image: url('images/latter-mess.jpg');
    width: 70px;
    height: 33px;
    color: #ffffff;
    font-size: 12px;
    font-family: SourceSansPro;
    padding: 10px 0 0 17px;
}

.About-Section .row .col .text-About-Section{
    width: 95%;

}

.text-About-Section{
    font-size: 15px;
    font-family: SourceSansPro-Regular;
    color: #616161;
    margin: 10px 0 0px 0;
}

.Testimonials1{
    width: 312px;
    height: 111px;
    background-image: url('images/box-chat.png');
    padding: 5px 0 0 15px;
}

.Testimonials1 .product-title{
    margin-top: 30px;
    float: right;
    font-size: 14px;
    line-height: 30px;
}

.Testimonials2{
    clear: both;
    width: 312px;
    height: 88px;
    background-image: url('images/box-chat2.png');
    padding: 5px 0 0 15px;
}

.Testimonials2 .product-title{
    margin-top: 30px;
    float: left;
    font-size: 14px;
}

.footer{
    width: 1200px;
    height: 395px;
    padding: 50px 50px 0 50px;
    background-color: #28343c;
    margin: auto;
}

.footer .title{
    font-size: 18px;
    font-family: SourceSansPro;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-text{
    font-size: 14px;
    line-height: 25px;
    color: #8d9092;
    font-family: SourceSansPro-Regular;
    margin-bottom: 10px;
}

.footer-date{
    font-size: 14px;
    color: #ca6666;
    font-family: SourceSansPro-Regular;
    margin-bottom: 15px;
}

.footer .row .about .footer-text{
    width: 90%;
    margin-bottom: 30px;
}

.footer .row .get-in-touch .footer-text{
    width: 85%;
    margin-bottom: 30px;
}

.footer .row .get-in-touch .row .footer-text{
    width: 85%;
    margin-top: 2px;
    margin-bottom: 0px;
}

.copyright-section{
    width: 1200px;
    height: 82px;
    margin: auto;
    padding: 30px 50px 0 50px;
    background-color: #253038;
    color: #afb1b2;
    font-size: 14px;
    font-family: SourceSansPro-Regular;
}

.copyright-section .row .contact img{
    float: right;
    margin-left: 10px;
}







